/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2018, 8:15:12 PM
    Author     : neldo
*/

.orange_border_header{
        background-color: orangered;
        padding:5px;
        float:left;
        font-weight: bold;
        color: white;
            
    }
    .padding10px{
        padding:10px;
    }
    #social_links a{
        margin:10px;
    }


    .orange_border_div{
        border: 1px solid orangered;
        padding:0px;
        width:100%;
        background-color:white;
    }